.profile {
  padding: 40px;
  text-align: center;

  .title {
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .desc {
    display: block;
    font-size: 28px;
    color: #999;
  }
}
